bin/
obj/
.vs/
*.user
appsettings.*.local.json
src/*/Logs/
src/*/wwwroot/uploads/*
!src/*/wwwroot/uploads/**/.gitkeep
database/init_all.sql


# ASP.NET Core configuration
**/appsettings.json
**/appsettings.*.json