html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.datatable-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.datatable-scroll::-webkit-scrollbar {
  display: none;
}